<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minilibrary</title>
</head>
<body>
    <h1>Minilibrary Page</h1>
    <h2>Hola mundo desde Minilibrary</h2>

    <form method=GET>
        <input type="text" name="query_search" placeholder="Buscar por título o autor" value="{{query}}">
        <button type="submit">Enviar</button>
    </form>

    <ul>
        {%for book in page_obj %}
            <li>{{ book.title }} - {{ book.author.name }}</li>
        {%empty%}
            <li>No se encontraron libros.</li>
        {% endfor %}
    </ul>

    <div>
        
        {% if page_obj.has_previous %}
            <a href="?query_search={{ query }}&page=1">Primera</a>
            <a href="?query_search={{ query }}&page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?query_search={{ query }}&page={{ page_obj.next_page_number }}">Siguiente Página</a>
            <a href="?query_search={{ query }}&page={{ page_obj.paginator.num_page }}">Ùltima</a>
        {% endif %}
            
    </div>
</body>
</html>