<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola mundo</title>
</head>
<body>

    {% if name == "Horacio" %}
        <h1>Hola Alumno!!</h1>
        <h2>Nombre: {{ name | title }} {{ lastname }}</h2>
        <p>Edad: {{age}}</p>
    {% elif name == "Ricardo" %}
        <h1>Hola Profe!!!</h1>

    {% else %}
        <h1>Hola invitado</h1>
        {% endif %}
    <p>Fecha: {{today | date:"d/m/Y"}}</p>

    <p>Stack de tecnologías</p>
    <ul>
        {% for tool in stack %}
            <li>{{ tool }}</li>
        {% empty %}
            <li>No hay tecnologías disponibles</li>
        {% endfor %}
    </ul>

</body>
</html>