{% extends "base.html" %}
{% load static %}

{% block title %}
    Listado de Quotes
{% endblock title %}
{% block page_style %}
    <link rel="stylesheet" href="{% static 'quotes/quotes_styles.css' %}">
{% endblock page_style %}


{% block content %}
    {% include './includes/partial.html' %}
    <h1>Lista de Días | Frases Motivacionales</h1>

    
    <ul>
        
        {% for day in days %}
            <li><a href="{% url 'day-quote' day %}">{{day}}</a></li>
        {% endfor %}
            
    </ul>
    

    {% include './includes/endpartial.html' with days=days name="Horacio" %}

{% endblock content %}
    
